@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.dialogs{
    display: grid;
    grid-template-columns: 100px 2fr;
}


.users {
    font-family: 'Montserrat', sans-serif;
    border: 5px;
}

.user{
  padding: 10px;
}



.message{
    padding: 10px;
}

.sendMessage {
    width: 90px;
    height: 55px;
    border-radius: 5px;
    border-color: black;
    background: deeppink;
}

.textMessage {
    width: 600px;
    height: 50px;
    border-radius: 10px;
    border-color: black;
    background: dodgerblue;
}

.chatArea {
    display: inline;
    position: relative;

}

.userArea {

}