@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.dialogs{
 display: grid;
    grid-template-columns: 100px 2fr;
}


.users{
    font-family: 'Montserrat', sans-serif;
}

.user{
  padding: 10px;
}

.messages{

}

.message{
    padding: 10px;
}

.sendMessage{
    width: 60px;
    border-radius:5px;
    border-color: black;
    background: deeppink;
}

.textMessage{
    border-radius: 10px;
    border-color: black;
    background: dodgerblue;
}