.app-creator {
    display: grid;
    grid-row-gap: 5px;
    grid-template-rows: 60px 850px 35px;
}

.header {
    position: relative;
    background-color: lawngreen;
}

.content {
    border-radius: 13px;
    background-color: blanchedalmond;
    text-decoration: none;
}

.footer {
    position: relative;
    background-color: lawngreen;
}