.app-creator {
    display: grid;
    grid-template-areas:
            "header header"
             "content chat"
             "nav nav ";

    grid-template-rows: 100px 800px 100px;
    grid-gap: 10px;

}

.app-creator{
    font-size: large;
    font-style: oblique;
    font-weight: 500;

}





