.app-creator {
    display: grid;
    grid-template-rows: 70px 800px 55px;
    row-gap: 5px;
    margin-top: 1px;


}
.grid1{
    background: deeppink;
    align-content: center;
}

.app-content {
    background: dimgrey; /*grid-rows 2+3*/
    align-content: center;


}



.grid4 {
    background: dodgerblue;
    align-content: center;
}

