@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
    line-height: 60px;
    text-align: center;


}


.nav{
    text-decoration: none;
    word-spacing: 150px;
    text-transform: uppercase;
}

.item {

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;

    display: inline;

}

.item a{
    text-decoration: none;
    color: black;
    transition: 0.5s;

}

.item a.active{
    color: dodgerblue;
}


.nav:hover a{
    opacity: .2;
    filter: blur(1px);

}

.item a:hover{
    opacity: 1;
    filter: blur(0);
}
