.input{
    background: deeppink;
    border-color:black;
    border-radius: 5px;
}

.item{
    color: blueviolet;
    font-weight: bold;
    font-family: Serif;
}

.button{
    border-radius: 5px;
    border-color:black;
    background: dodgerblue;
}